      body {
        background-color: #f2f2f2;
        font-family: Arial, sans-serif;
      }
      #tittle_1 {
          font-size:25px;
        text-align: center;
        color: #333;
        display:inline-block;
      }
      #tittle_2{
           font-size:12px;
        text-align: center;
        color: #333;
        display:inline-block;
      }
      form {
          
        margin: 80px auto;
        width: 300px;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
      }
      label {
        margin-top:40px;
        display: block;
        margin-bottom: 10px;
        color: #333;
      }
      input[type="text"],
      input[type="password"] {
        display: block;
        width: 90%;
        padding: 10px;
        border: 1px #f2f2f2 solid;
        border-radius: 5px;
        margin-bottom: 20px;
      }
      input[type="submit"] {
        background-color: #4CAF50;
        color: #fff;
        padding: 10px 20px;
        border: 1px #f2f2f2 solid;
        border-radius: 5px;
        cursor: pointer;
      }
      input[type="submit"]:hover {
        background-color: #3e8e41;
      }
	  .loginBtn{
		  padding: 6px 10px !important;
		  	background-color: #4CAF50 !important;
		  	color: white !important;
		  	border: none !important;
		  	border-radius: 4px !important;
		  	cursor: pointer !important;
			margin-bottom: 20px;
	  }
	  .loginBtn:hover {
	  	background-color: #45a049 !important;
	  }
      .error {
        color: red;
        font-size: 12px;
        margin-top: -10px;
        margin-bottom: 10px;
      }